* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #222a36;
}

html {
  background-color: rgba(49, 55, 82, 1);
}

html,
body {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
  font-size: 3em;
  font-family: "Righteous", serif;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-top: 20px;
}

.newArt {
  margin-bottom: 40px;
  color: #a2d729;
  font-size: 3em;
  cursor: pointer;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
    text-shadow 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.newArt.rotated {
  transform: rotate(360deg) scale(1.1);
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

.newArt:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

.mainCont {
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.artName {
  text-align: center;
  font-size: 1.5em;
  font-family: serif;
  margin-bottom: 10px;
  width: 90%;
}

.artWork {
  width: 90%;
  margin-bottom: 20px;
  cursor: pointer;
}

.artArtist {
  margin-bottom: 20px;
  font-weight: 500;
  width: 85%;
}

.artMedium {
  width: 85%;
  border-bottom: 1px dashed #222a36;
  padding-bottom: 20px;
}

.artYear {
  text-align: center;
  padding-bottom: 20px;
}

.descriptionBtn,
.acquisitionBtn,
.dimensionsBtn,
.categoryBtn {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.artDescription,
.artDimensions,
.artCategory,
.artAcquisition {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.closeFull {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
  cursor: pointer;
}

.fullScreen img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.hidden {
  display: none;
}

.spinner {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-o824ag 1s infinite linear;
  margin-top: 40px;
  margin-bottom: 50px;
}

footer {
  margin-top: auto;
  padding-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 0.7em;
}

footer span {
  color: inherit;
  display: block;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222a36;
  border-radius: 50%;
  animation: spinner-vse6n7 1.25s infinite ease;
}

.spinner div:nth-child(1) {
  --rotation: 90;
}

.spinner div:nth-child(2) {
  --rotation: 180;
}

.spinner div:nth-child(3) {
  --rotation: 270;
}

.spinner div:nth-child(4) {
  --rotation: 360;
}

@keyframes spinner-vse6n7 {
  0%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}

@keyframes spinner-o824ag {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px) {
  .artWork {
    width: auto;
    height: 500px;
    max-width: 90%;
  }

  .mainCont {
    max-width: 1000px;
  }
}
